---
version: "2.1"
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID={{ moorea_uid }}
      - PGID={{ moorea_gid }}
      - TZ=Europe/Paris
    volumes:
      - /opt/prowlarr/config:/config
    networks:
      - "services"
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
    restart: unless-stopped
networks:
  services:
    external: true
    name: services
