version: "3"

services:
  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr
    restart: unless-stopped
    environment:
      - PUID="{{ moorea_uid }}"
      - PGID="{{ moorea_gid }}"
      - TZ=Europe/Paris
      - UMASK_SET=002
    volumes:
      - /opt/sonarr/config:/config
      - /srv/moorea/Series:/tv
      - /srv/downloads:/downloads
    networks:
      - "services"
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
networks:
  services:
    external: true
    name: services
