version: "3"

services:
  bazarr:
    container_name: bazarr
    image: linuxserver/bazarr
    restart: unless-stopped
    environment:
      - PUID={{ moorea_uid }}
      - PGID={{ moorea_gid }}
      - TZ=Europe/Paris
      - UMASK_SET=002
    volumes:
      - /opt/bazarr/config:/config
      - /srv/moorea/Films:/movies
      - /srv/moorea/Series:/tv
    networks:
      - "services"
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.services.bazarr.loadbalancer.server.port=6767
networks:
  services:
    external: true
    name: services
