version: "3"

services:
  radarr:
    container_name: radarr
    image: linuxserver/radarr
    restart: unless-stopped
    environment:
      - PUID="{{ moorea_uid }}"
      - PGID="{{ moorea_gid }}"
      - TZ=Europe/Paris
      - UMASK_SET=002
    volumes:
      - /opt/radarr/config:/config
      - /srv/moorea/Films:/movies
      - /srv/downloads:/downloads
    networks:
      - "services"
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.services.radarr.loadbalancer.server.port=7878
networks:
  services:
    external: true
    name: services
